---
- name: "update"
  tags: update
  block:

    - name: "pre update : HA : maintenance on"
      ansible.builtin.shell: |
        echo "Activation du mode maintenance du noeud (HA)" ;
        ha-manager crm-command node-maintenance enable $(hostname -s) ; 
        /bin/true
      when: 
        - qm_migrate_to == "ha"

    - name: "apt : full-upgrade"
      apt:
        autoclean: true
        autoremove: false
        dpkg_options: "force-confdef,force-confold"
        force: false
        install_recommends: false
        state: latest
        update_cache: true
        upgrade: full
      retries: 3
      delay: 10  
      #when:
      #  - upgrade is not defined or upgrade == ''
